body {
    overflow-y: hidden;
}

main {
    height: 100vh;
}

main h4 {
    text-align: center;
    font-size: 1.3rem;
    margin-block: 1rem;
}

.map {
    width: 90%;
    height: 30rem;
    background: var(--light-grey-clr);
    margin: 1rem auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-block-end: 10rem;
}

.land {
    width: 80%;
    height: 13rem;
    background: var(--main-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.land-name {
    text-transform: uppercase;
    color: var(--white-clr);
    margin-block-end: 1rem;
    font-size: 1.2rem;
}

.landmark {
    width: 4rem;
    height: 4rem;
    border-radius: var(--circle-radius);
    object-fit: cover;
    background: var(--white-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .76rem;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    z-index: 9;
}

.landmark img {
    width: 60%;
    border-radius: var(--circle-radius);
    object-fit: cover;
    margin-top: .3rem;
}

.landmark::after {
    content: '';
    width: .9rem;
    height: 2.5rem;
    background: var(--white-clr);
    position: absolute;
    bottom: -1.3rem;
    z-index: -1;
}
