@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
    --main-clr: #008134;
    --light-main-clr: #0ab850;
    --shade-main-clr: #015a25;
    --tint-main-clr: #b9f0ae;
    --shade-accent-clr: #589cd3;
    --accent-clr: #7eb8e7;
    --white-clr: #eee;
    --black-clr: #333;
    --light-grey-clr: #ccc;
    --dark-grey-clr: #aaa;
    --warning-clr: #ff2b2b;
    --tint-warning-clr: #ffbebe;
    --light-warning-clr: #ff6a6a;

    --main-font: 'Poppins', sans-serif;
    --accent-font: 'Abril Fatface', serif;

    --border-radius: .6rem;
    --circle-radius: 50%;
}

/* GENERAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--white-clr);
    font-size: 16px;
    font-family: var(--main-font);
    color: var(--black-clr);
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    overflow-y: auto;
    height: calc(100vh - 71px - 70px);
}

/* HEADER */
header {
    background: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background: var(--white-clr);
    color: var(--black-clr);
    border-bottom: .3rem solid var(--main-clr);
}

header .logo-name {
    font-family: var(--accent-font);
    font-size: 1.8rem;
    font-weight: bolder;
}

header .nav-text {
    color: var(--main-clr);
}

header .dark-mode {
    font-size: 1.5rem;
}

header .fa-bell {
    font-size: 1.3rem;
    position: relative;
}

/* Yung red circle sa notif bell if may notifs */
header .notif-num {
    border-radius: var(--circle-radius);
    font-size: .7rem;
    position: absolute;
    background: var(--warning-clr);
    color: var(--white-clr);
    top: -.7rem;
    right: -.7rem;
    padding: .3rem;
    text-align: center;
    font-weight: bolder;
}

header .logo-name {
    color: var(--shade-accent-clr)
}

.nav {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.nav .nav-list {
    display: flex;
    justify-content: space-evenly;
    border-block-start: .3rem solid var(--main-clr);
    background-color: var(--main-clr);
}

.nav .nav-list li {
    background: var(--main-clr);
    width: 100%;
    text-align: center;
    padding: 1rem .5rem;
}

.nav .nav-list li.active {
    background-color: var(--shade-main-clr);
}

.nav .nav-list .nav-link-icon {
    font-size: 2rem;
    color: var(--white-clr);
}

/* SIDEBAR */
.profile-menu {
    position: absolute;
    height: 100vh;
    width: 80vw;
    background: #eeeeeeee;
    top: 0;
    left: -100%;
    z-index: 2;
    transition: .5s;
}

.profile-menu section.go-back {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    font-size: 1.3rem;
}

.profile-menu section.notif {
    display: grid;
    grid-template-columns: .7fr 2fr 1fr;
    align-items: center;
    padding: .5rem;
    font-size: 1.4rem;
    border-bottom: .1rem solid var(--black-clr);
}

.profile-menu section.notif i {
    font-size: 2rem;
    color: var(--warning-clr);
}

.profile-menu section.notif .notif-time {
    font-size: .9rem;
}

.profile-menu a.sign-out {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.profile-menu a.sign-out p {
    margin-inline-end: 1rem;
}